// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.answer {
  background-color: rgb(255, 238, 182);
}

.question {
  border-left: 10px solid rgb(209, 209, 209);
}

a {
  text-decoration: none;
}

.back-link {
  text-decoration: none;
}
